/* tags da pagina */

html {
    scroll-behavior: smooth;
    font-family: 'Permanent Marker', cursive;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    background-image: linear-gradient(0deg, #432e17 0%, #4c371f 19%, #563f27 39%, #604930 60%, #6a5239 80%, #745c42 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    
}

p {
    color: #F2D4B7;
	font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

A {
    text-decoration: none;
}

h4{
    color: #F2D4B7;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

section{
    max-width: 590px;
    margin-top: 40px;
    margin-bottom: 10px;
}

Footer{
    bottom: 0;
    width: 100vw;
    height: 50px;
    background: #392818;
}

/* conteudos "globais" da pagina */

.container {
	width: 97%;
	margin: 0 auto;
}

.texto{
    margin-bottom: 20px;
}

.titulos{
    color: #F2D4B7;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* cabeçalho da pagina */

.cabecalhoPrincipal-titulo {
	font-weight: bold;
    color: #F2D4B7;
    padding: 15px;
    border: 3px solid #F2D4B7;
    border-radius: 60%;
	background-color: #392818;
}

.cabecalhoPrincipal{
    background-color: #F2D4B7;
    width: 100vw;
    text-decoration: none;
}

.cabecalhoPrincipal-nav-link {
	color: #F2D4B7;
    padding: 0.9em;
    border-radius: 60%;
	background-color: #392818;
}

/* Conteudo da pagina */

.fotoPerfil{
    height: 200px;
    width: 200px;
}

.icone{
    height: 100px;
    width: 100px;
}

.conteudoPrincipal {
	margin-top: 20px;
	margin-bottom: 50px;
}

#DoomFire {
    margin-left: 32.6%;
    margin-right: 32.5%;
}

#motivacao{
    color: #F2D4B7;    
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Final da pagina */

#Table-text{
    height:50px;
    width: 100vw;
    display:table;
}

#Cell-text{
    display:table-cell;
    vertical-align:middle;
}

#Copyright-text{
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
}

@media screen and (max-width: 1024px){

    .cabecalhoPrincipal-titulo {
        padding: 0.5em;
    }
    
    .cabecalhoPrincipal{
        background-color: #F2D4B7;
        width: 100vw;
        text-decoration: none;
    }
    
    .cabecalhoPrincipal-nav-link {
        font-size: 0.7em;
        padding: 0.5em;
    }
    
   
    .icone{
        flex-shrink: 1;
    } 

    body {
        text-align: justify;
        margin-left: 7px;
        margin-right: 7px;
    }
    
}